h1{
	color: red;
}
*{
	margin:0;
}
body{
	height: 100vh;
	width: 100vw;
}
header , footer{
	text-align: center;
	height: 10vh;
	width: 100vw;
	background-color: orange;
	position:absolute;
}
footer{
	bottom:0;
}
section{
	height: 80vh;
	width: 100vw;
	background-color: blue;
}
aside,#main{
    display: inline-block;
    float: left;
}
aside{
	height:100vh;
	width:15vw;
	background-color:red;
	position:inline-block;
}

#main{
	background-color:green;
	height:100vh;
	width:85vw; 
}
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 