*{
	margin:0;
}
#main{
	height: 100vh;
	width: 100vw;
	background-color: gray
}
header, footer{
	text-align: center;
    background: orange;
    height: 10%;
    width: 100%;
}
header,footer{
    text-align: center;
}
footer{
    position: absolute;
    bottom: 0;
}
aside,section{
    height:80%;
    display: inline-block;
    float: right;
}
aside{
    width: 20%;
    background: red;
	overflow-y: scroll;
}
section{
    width: 80%;
    background: blue;
}
aside>p{
	color:blue;
    font-size: 24px;	
	margin-bottom: 1.5px;
	background-color:green;
	border: 1.50px solid black;
	
}

